.Table-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
}

th, td {
    border: 1px solid rgb(207, 207, 207);
    padding: 40px 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.color-blue {
    background-color: rgb(43, 1, 157);
}

.color-grey {
    background-color: rgb(43, 1, 157);
}

.color-red {
    background-color: rgb(43, 1, 157);
}

.color-yellow {
    background-color: rgb(85, 39, 164);
}

.color-orange {
    background-color: rgb(85, 39, 164);
}

.color-mora {
    background-color: rgb(85, 39, 164);
}

.color-pink {
    border-top-right-radius: 20px;
    background-color: rgb(43, 1, 157);
}

.bg-darckyan {
    background-color: rgb(43, 1, 157);
    color: white;
}

.color-box {
    background-color: rgb(69, 18, 156);
    color: white;
}

.color-element {
    background-color: rgb(69, 18, 156);
    color: white;
}

.color-box-1 {
    border-bottom-left-radius: ;
    background-color: rgb(69, 18, 156);
    color: white;
}

.th-paquete {
    border-top-left-radius: 20px;
    background-color: rgb(86, 3, 144);
    color: rgb(255, 255, 255);
}

